Package: libinspectivec.example
Name: Example
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: David Goldman
Author: David Goldman
Section: Tweaks
