Package: com.dgoldman.inspectivec
Name: InspectiveC
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: objc_msgSend hook for debugging/inspection purposes.
Maintainer: David Goldman
Author: David Goldman
Section: Tweaks
